!!!5
%html
    %head
        %meta(charset="utf-8")
        %title SASS Avanzado
        %link(href="css/main.css" rel="stylesheet" type="text/css")
    %body
        .proyecto
            %img(src="img/Penguins.jpg" title="proyecto" alt="proyecto" class="proyecto-imagen")
            .proyecto-texto
                %p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis cum, fugiat, distinctio maxime nisi molestias expedita dolore voluptate voluptas mollitia rerum obcaecati saepe. Quas, neque consequatur dignissimos amet cumque magni.