*{
    padding:0px;
    margin:0px;
    border:0px;
}
.todas-las-cajas{
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: 200px 500px 200px;
    grid-gap: 5%;
    .cajita{
        &:nth-child(1){
            background:red;
            grid-column:1/3;
        }
        &:nth-child(2){
            background:green;
            grid-column:1/2;
        }
        &:nth-child(3){
            background:violet;
            grid-column:2/3;
        }
        &:nth-child(4){
            background:purple;
            grid-column:1/3;
        }
    }
}