!!!5
%html
    %head
        %meta(charset="utf-8")
        %title Titulo Principal
        %link(href="estilos.css" rel="stylesheet" type="text/css")
    %body
        %header
            %figure
                %img(src="img/logo.svg" alt="logo" title="logo")
            %nav
                %ul
                    %li
                        %a(href="#") Item 1
                    %li
                        %a(href="#") Item 2
                    %li
                        %a(href="#") Item 3
                    %li
                        %a(href="#") Item 4
                    %li
                        %a(href="#") Item 5
        %section(class="galeria")
            .imagen
                %img(src="img/koala.jpg" alt="Imagen" title="Imagen")
                %h2 Subtitulo
                %p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae beatae quasi deserunt consequatur amet omnis, voluptatum odio, tempora nisi quisquam illo possimus, ipsum sint! Harum voluptatem ad ipsum laborum quibusdam?
        %section(class="galeria")
            .imagen
                %img(src="img/Chrysanthemum.jpg" alt="Imagen" title="Imagen")
                %h2 Subtitulo
                %p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae beatae quasi deserunt consequatur amet omnis, voluptatum odio, tempora nisi quisquam illo possimus, ipsum sint! Harum voluptatem ad ipsum laborum quibusdam?
        %section(class="galeria")
            .imagen
                %img(src="img/Jellyfish.jpg" alt="Imagen" title="Imagen")
                %h2 Subtitulo
                %p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae beatae quasi deserunt consequatur amet omnis, voluptatum odio, tempora nisi quisquam illo possimus, ipsum sint! Harum voluptatem ad ipsum laborum quibusdam?
                                